// hier sollten wir eigentlich noch alle weiteren Regln
// die sich auf diese komponente bezeichen,
// aus der App.scss verschieben

.completed-item {
    font-style: italic;
    color: #d35e0f;
    opacity: 0.4;
    text-Decoration: line-through
}
